/*
--------------------------------------------------------------------------------
HTML elements look n feel
--------------------------------------------------------------------------------
*/
html {
  /* base font-size is at reset.scss */
  // @include phablet { @include retina(1.3) { font-size: 80%; } }
  // @include tablet  { @include retina(1.5) { font-size: 90%; } }
  // @include desktop { @include retina(2)   { font-size: 100%; } }
}

body {
  font-family: $font-family-sans-serif;
  background-color: $white;
  color: $dark;
  font-size: $font-size-baseline;
  letter-spacing: .02em;
  line-height: 150%;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, button, label, a {
  font-family: $font-family-condensed;
}

h1, h2, h3, h4, h6, label, button {
  text-transform: uppercase;
}

h1 {
  font-size: $h1-font-size-sm;
  letter-spacing: 0.06em;
  line-height: 90%;

  @include tablet {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: $h2-font-size-sm;
  letter-spacing: 0.04em;
  line-height: 90%;

  @include tablet {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $h3-font-size-sm;
  letter-spacing: 0.02em;
  line-height: 100%;

  @include tablet {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: $h4-font-size-sm;
  letter-spacing: 0.02em;
  line-height: 100%;

  @include tablet {
    font-size: $h4-font-size;
  }
}

h5 {
  font-family: $font-family-sans-serif-med;
  font-size: $h5-font-size-sm;
  font-weight: 200;
  letter-spacing: 0.02em;
  line-height: 130%;

  @include tablet {
    font-size: $h5-font-size;
  }
}

h6 {
  font-family: $font-family-sans-serif-bold;
  font-size: $h6-font-size-sm;
  letter-spacing: 0.14em;
  line-height: 100%;

  @include tablet {
    font-size: $h6-font-size;
  }
}

span {
  display: inline-block;
}

a, button {
  cursor: pointer;
  font-size: $btn-font-size-sm;
  letter-spacing: 0.12em;
  @include transition(all, .5);

  @include tablet {
    font-size: $btn-font-size;
  }
}

a {
  text-decoration: none;

  &:active {
    color: $white;
  }
}

label, .label {
  font-family: $font-family-condensed;
  font-size: $h6-font-size-sm;
  line-height: 100%;
  letter-spacing: 0.2em;

  @include tablet {
    font-size: $font-size-sm;
  }
}

b {
  font-weight: 700;
}

strong {
  font-weight: 900;
}

small {
  font-size: $font-size-sm;
}
