.button {
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 1px;
  letter-spacing: 0.12em;
  min-width: 16rem;
  height: 5rem;
  text-transform: uppercase;
  padding: 1rem 1.8rem;
  @include transition(all, .5);

  &:hover {
    letter-spacing: 0.16em;

    &.dark {
      background-color: darken( $dark, 7% );
    }

    &.light {
      background-color: darken( $white, 7% );
    }
  }

  &.dark {
    background-color: $dark;
    color: $white;
  }

  &.light {
    background-color: $white;
    color: $dark;
  }
}
