.button {
  cursor: pointer;
  font-size: $btn-font-size-sm;
  border-radius: 1px;
  letter-spacing: 0.12em;
  min-width: 16rem;
  height: 5rem;
  padding: 1.4rem 1.8rem;
  @include transition(all, .5);

  @include tablet {
    font-size: $btn-font-size;
  }

  &.button-icon {
    display: flex;
    align-items: center;

    img {
      margin-right: 2rem;
      height: 100%;
    }
  }

  &:hover {
    &.dark {
      background-color: darken( $dark, 7% );
    }

    &.light {
      background-color: darken( $white, 7% );
    }
  }

  &.dark {
    background-color: $dark;
    color: $white;
  }

  &.light {
    background-color: $white;
    color: $dark;
  }
}
