.checkbox-container {
    .checkmark {
        border-radius: 2px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 1px;
            width: 4px;
            height: 8px;
            border: 1px solid $white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    &:hover input ~ .checkmark {
        border-color: $dark;
    }

    input:checked ~ .checkmark {
        border-color: $dark;
        background-color: $dark;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}
