.beers-page {
    background-color: $black;
    height: 100vh;

    .scroll-slider {
        background-color: $black;
        position: relative;
        overflow: hidden;
        display: block;
        height: 100vh;
    }

    .scroll-wrapper {
        position: relative;
        background-image: url('../../assets/images/beer-vector-texture.png');
        background-position: center;
        background-repeat: repeat-x;
        background-size: contain;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        height: 100vh;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .scroll-slide {
        flex: 1 0 100vw;
        display: flex;
        align-items: center;

        @include tablet {
            flex: 1 0 33.33vw;
        }
    }

    .cover {
        position: relative;
        width: 100%;
        height: 90vw; 
        margin-left: 15vw;
        margin-right: 15vw;      

        @include tablet {
            height: 70vw;
            margin-left: 6vw;
            margin-right: 6vw;
        }

        @include desktop {
            height: 30vw;
        }

        &:hover .picture::after {
            height: 35rem;
            background-color: #FACA78;

            @include phablet {
                height: 40rem;
            }
        }

        &:hover .picture::before {
            filter: blur(9px);
            opacity: 0.4;
            bottom: -4rem;
        }

        &:hover .picture .media {
            transform: scale(1);
            filter: grayscale(0%);
        }

        &:hover .title {
            transform: translate(-50%, -10rem);
            color: #FACA78;

            @include phablet {
                transform: translate(-50%, -8rem);
            }
        }

        .label {
            color: $white;
            text-transform: uppercase;
        }

        .obj-label-left, .obj-label-right {
            width: 14rem;
            text-align: center;
        }

        .obj-label-left {
            @include transition(all, .7);
            transform: rotate(-90deg) translateY(-50%);
            transition-delay: .2s;
            position: absolute;
            top: 65%;
            left: 4rem;
            z-index: 0;
            opacity: .2;
        }

        &:hover .obj-label-left{
            left: -2rem;
            opacity: 1;
        }

        .obj-label-right {
            @include transition(all, .7);
            transition-delay: .2s;
            transform: rotate(90deg) translateY(-50%);
            position: absolute;
            top: 65%;
            right: 4rem;
            z-index: 0;
            opacity: .2;
        }

        &:hover .obj-label-right{
            right: -2rem;
            opacity: 1;
        }

        .picture {
            position: absolute;
            left: 50%;
            height: 100%;
            width: 100%;
            transition: all 1s;
            transform: translateX(-50%);
            z-index: 3;

            &:after {
                content:'';
                @include transition(all, 1.2);
                background-color: $white;
                position: absolute;
                left: 0;
                bottom: -7rem;
                height: 0rem;
                width: 100%;
                z-index: -1;
            }

            &:before {
                content: '';
                @include transition(all, 1.2);
                background: $dark;
                filter: blur(13px);
                position: absolute;
                width: 17rem;
                height: 1rem;
                bottom: -6rem;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
            }
            
            .media {
                @include transition(all, .7);
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(.95);
                z-index: 4;
                filter: grayscale(100%);
            }
        }

        h3 {
            &.title {
                @include transition(all, .7);
                display: inline-block;
                backface-visibility: hidden;
                color: $white;
                position: absolute;
                top: 2rem;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                z-index: 2;
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
        }
    }
}