.z-museum-front {
  .fullscreen-wrapper {
    z-index: 0;
  }
}

.heritage {
    &-section {
        background-color: $black;
    }

    &-title {
        margin-bottom: 5rem;
    }

    &-info {
        color: $gray-3;
    }

    &-beer {
        position: absolute;
        right: -15rem;
        top: 3rem;

        @include tablet {
            right: -10rem;
            top: 10rem;
        }

        @include desktop {
            right: 10rem;
        }

        @include hd {
            right: 20rem;
            top: 8rem;
        }
    }
    

    &-beer-img {
        width: 100%;
        height: 100%;
    }
}

.timeline-section {
  z-index: -2;

  .timeline-title {
    position: relative;
    text-align: center;
    padding-top: 5rem;
    z-index: -1;
    color: rgba($white, .05);
    background-color: $black;

    /*&:before {
      content: '';
      background-color: $black;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }*/
  }

  .timeline-surtitle {
    margin-top: -8rem;
    text-align: center;
    color: $white;
  }

  &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $black;
      z-index: -5;
  }
}

.timeline {
  position: relative;
  z-index: -2;
  margin-top: 4.4rem;

    &:before {
      content: '';
      top: 0;
      bottom: 0;
      position: fixed;
      width: 2px;
      background-color: #5C502C;
      left: 50%;
      height: 100%;
      z-index: -5;
    }

    &:after {
        content: '';
        top: 0;
        bottom: 0;
        position: fixed;
        width: 2px;
        background-color: $gold;
        left: 50%;
        height: 50vh;
        z-index: -5;
    }

    .timeline-panel-wrapper {
        position: relative;

        &:before, &:after {
            content: '';
            display: table;
        }

        .timeline-panel {
            position: relative;

            .timeline-panel-body {
                opacity: 1;

                p {
                  font-size: 2rem;
                  color: $gray-3;
                }
            }

            &:not(.timeline-panel-img) {
              &.panel-left {
                padding: 5rem 0 5rem 8rem;
              }

              &.panel-right {
                padding: 5rem 8rem 5rem 0; 
              }

              .timeline-panel-body {
                width: 65%;
                margin: auto;
              }
            }
        }

        .timeline-panel-img {
          object-fit: contain;
          padding: 0 8rem; 

            img {
              height: auto;
              max-width: 100%;
            }
        }

        .timeline-inverted {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -4px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $black;
                border: 2px solid #5C502C;
                z-index: 99;
            }

            &.active:before {
                animation-name: ani-img;
                animation-duration: .5s;
                animation-delay: .1s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
            }
        }

        .timeline-badge {
            color: $dark;
            width: 100%;
            padding: 4rem 0;
            background-color: $black;
            text-align: center;
            position: relative;
            z-index: 100;

            &.active {
                color: $white;
                animation-name: lines;
                animation-duration: 1s;
                animation-delay: 0s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;

                &:before {
                animation-name: lines;
                animation-duration: 1s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
              }
            }
        }

        .timeline-inverted, .timeline-inverted>.timeline-panel {
            float: right;
        }
    }
}


.timeline>.timeline-panel-wrapper:after {
  clear: both;
}

.timeline-panel.timeline-inverted:before, .timeline-inverted>.timeline-panel:before {
  left: -6vw;
  right: auto;
}


/***** ANIMATIONS *****/

@keyframes animated-line {
  0% {
    width: 0px;
  }
  100% {
    width: 25%;
  }
}

@keyframes ani-img {
  0% {
    transform: scale(1, 1);
    border-color: #5C502C;
  }
  50% {
    transform: scale(1.3, 1.3);
    border-color: $gold;
  }
  100% {
    transform: scale(1, 1);
    border-color: $gold;
  }
}

@keyframes ani-panel {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ani-body {
  0% {
    color: #5C502C;
  }
  50% {
    color: #7390BF;
  }
  100% {
    color: $gold;
  }
}


@media (max-width: 750px)
and (-webkit-min-device-pixel-ratio:1)
  {
  .connection-line {
    display: none;
  }
  .timeline {
    padding-top: 50px;
    margin-left: 0;
  }
  .timeline:before {
    left: 50%;
    display: none;
  }
  .timeline:after {
    left: 50%;
    display: none;
  }
  .timeline>.timeline-panel-wrapper {
    padding-bottom: 10%;
  }
  .timeline>.timeline-panel-wrapper>.timeline-badge {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    left: 50%;
    top: 0;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline>.timeline-panel-wrapper>.timeline-panel {
    width: 100vw;
    height: 35vh;
    float: none;
    left: 0%;
    background-color: white;
    z-index: 5;
    display: block;
    padding: 5%;
    height: auto;
  }
  .timeline>.timeline-panel-wrapper>.timeline-panel.timeline-inverted, .timeline>.timeline-panel-wrapper.timeline-inverted>.timeline-panel {
    float: none;
  }
  .timeline>.timeline-panel-wrapper>.timeline-panel::before {
    display: none;
  }
  .timeline>.timeline-panel-wrapper>.timeline-panel::after {
    display: none;
  }
  .timeline>.timeline-panel-wrapper>.timeline-panel-img::before {
    display: none;
  }
  .timeline>.timeline-panel-wrapper>.timeline-panel-img::after {
    display: none;
  }
  .timeline-title {
    text-align: center;
  }
  .timeline-panel-img img {
    width: 100%;
    height: auto;
    max-width: 90vw;
    left: auto;
    right: auto;
  }
}
