main {
    &.pickpack-flow {
        width: 200%;
    }
}

.pickpack-section {
    padding: 14rem 2rem 10rem 2rem;

    @include tablet {
        padding: 12rem 8rem 12rem 8rem;
    }

    @include resolution(1600px) {
        padding: 15rem 18rem 10rem 18rem;
    }

    &.page {
        float: left;
        width: 50%;
    }

    &-title {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;

        @include tablet {
            margin-bottom: 4rem;
        }
    }

    .pack-container {
        @include transition;
        cursor: pointer;
        border: 1px solid $gray-4;
        border-radius: 1px;
        height: 13rem;
        padding: 1.5rem 1rem 1.5rem 1rem;

        &:hover {
            border-color: $gray-3;
        }

        @include tablet {
            height: 20rem;
        }

        @include desktop {
            min-height: 30vw;
            height: 100%;
            padding: 4.5rem 3.5rem 3rem 3.5rem;

            &:hover .pack-content .pack-image {
                transform: translateX(-50%) scale(1.08);
            }
        }

        @include resolution(1600px) {
            min-height: 25vw;
        }

        &.selected {
            border-color: $gray-1;

            .pack-content .pack-image {
                @include desktop-down {
                    transform: scale(1.08);
                }

                @include desktop {
                    transform: translateX(-50%) scale(1.08);
                }
            }
        }

        .pack-content {
            display: flex;
            position: relative;
            height: 100%;

            @include desktop {
                justify-content: flex-end;
                flex-direction: column;
                text-align: center;
            }

            .pack-image {
                @include transition;

                @include desktop-down {
                    position: relative;
                    width: 45%;
                }

                @include desktop {
                    @include position(absolute, 1rem, 50%);
                    transform: translateX(-50%) scale(1);
                    width: 100%;
                }

                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }

            .pack-info {
                align-self: center;

                @include desktop-down {
                    padding-left: 1rem;
                }

                .pack-price {
                    color: $gray-3;
                }
            }
        }
    }

    .footer-actions {
        @include position(fixed, null, 0, 0, 0);
        background-color: $gray-5;
        padding: 2rem 2rem 2rem 2rem;

        @include tablet {
            padding: 2rem 8rem 2rem 8rem;
        }

        @include resolution(1600px) {
            padding: 4rem 18rem 4rem 18rem;
        }

        &.first-step {
            display: flex;
            justify-content: flex-end;
            z-index: 2;
        }

        &.second-step {
            display: none;
            justify-content: space-between;
            align-items: center;
            z-index: 3;

            .button {
                span {
                    display: none;

                    @include phablet {
                        display: inline;
                    }
                }
            }
        }
    }
}

.pickpack-section {
    .grid-container {
        display: grid;
        margin-bottom: 3rem;

        @include desktop-down {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }

        @include desktop {
            grid-template-columns: auto auto auto auto;
        }

        @include hd {
            grid-template-columns: auto auto auto auto auto;
        }

        .grid-item {
            background-color: $white;
            border: 1px solid $gray-4;
            padding: 1.5rem 2rem;
            text-align: center;
            min-height: 20rem;

            @include tablet {
                padding: 2rem 3rem;
            }

            .beer-list-title {
                @include responsive_font($min: 1.4, $max: 1.8);
                letter-spacing: 0.12em;
            }

            .beer-list-price {
                font-size: 1.2rem;
                font-weight: bold;
                color: $gold;
            }

            .beer-list-image {
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                height: 12rem;

                @include tablet {
                    margin-top: 2.5rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .quantity-input {
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }


    .resume-card {
        .checkout-card-body {
            min-height: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .total-beers {
                margin-bottom: 4rem;

                small {
                    margin-bottom: .8rem;
                }

                .total-quantity {
                    margin-top: 1rem;

                    p {
                        font-family: $pangram-medium;
                    }
                }

                .pack-error {
                    color: $red;
                }
            }
        }

        .empty-pack {
            background-color: $gray-5;
            padding: 3rem;
            margin-bottom: 4rem;

            .empty-info {
                text-align: center;
                color: $gray-2;
            }
        }
    }
}

