/*
--------------------------------------------------------------------------------
MENU SECTION
--------------------------------------------------------------------------------
*/

.menu-section {
    padding-bottom: 10rem;

    .menu-dates {
        color: $gray-2;
        text-align: center;
    }

    .menu-wrapper {
        padding: 8rem 2rem 2rem 2rem;

        @include phablet {
            padding: 8rem 4rem 4rem 4rem;
        }

        @include tablet {
            padding: 9rem 6rem 6rem 6rem;
        }

        @include desktop {
            padding: 9rem 8rem 8rem 8rem;
        }
        
        .menu-available {
            margin-bottom: 6rem;

            &-title {
                color: $gold;
                margin-bottom: 3rem;
            }

            .menu-dish {
                &-wrapper {
                    margin-bottom: 2rem;
                }

                &-container {
                    display: flex;
                    justify-content: space-between;
                    color: $gray-5;
                }

                &-ingredients {
                    color: $gray-2;
                    margin-top: -.2rem;
                }
            }
        }

        .menu-actions {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .button {
                width: 26rem;
            }
        }
    }

    .sided-plate-col {
        /* Do this element sticky in mobile */
    }

    .sided-plate-wrapper {
        margin-top: 4rem;
        height: 100%;
        display: none;

        @include desktop {
            display: block;
        }

        .sided-plate {
            position: relative;
            z-index: 4;
        }

        .plate-img {
            width: 100%;
            z-index: 6;
        }

        .salt-img, .pepper-img{
            position: absolute;
            z-index: -1;
        }

        .salt-img {
            bottom: -0.5rem;
            left: -0.5rem;
        }
        
        .pepper-img {
            top: -0.5rem;
            right: -0.5rem;
        }
    }
}

/*
--------------------------------------------------------------------------------
CHEF SECTION
--------------------------------------------------------------------------------
*/

.chef-section {
    .chef-content-wrapper {
        height: 100%;

        @include desktop {
            height: 100vh;
        }
    }

    .compound-image-wrapper {
        &.ng-margin-top {
            margin-top: -5vh;
        }

        .parallax-window {
            background: transparent;

            &.flat-image {
                display: none;

                @include tablet {
                    height: 25vh;
                    display: block;
                }
            }

            &.thin-image {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1rem;
                height: 30rem;
                width: 15rem;

                @include tablet {
                    left: 8rem;
                    height: 55rem;
                    width: 30rem;
                }
            }

            &.ratio-image {
                height: 60vh;

                @include desktop {
                    height: 80vh;
                }

                &.half-width {
                    width: 75%;
                    margin-left: auto;
                    display: block;
                }
            }

            &.flat-image, &.thin-image, &.ratio-image {
                box-shadow: 0rem .4rem 4rem rgba(0, 0, 0, 0.95);

                @include tablet {
                    box-shadow: 0rem .4rem 8rem rgba(0, 0, 0, 0.95);
                }
            }
        }
    }

    .chef-narrative {
        &-wrapper {
            padding: 4rem 3.5rem 2rem 3.5rem;

            @include tablet {
                padding: 4rem 8rem 8rem 8rem;
            }
        }

        &-title {
            color: $white;
            margin-bottom: 3rem;

            @include desktop {
                margin-bottom: 6rem;
            }
        }

        &-info {
            color: $gray-3;
        }
    }

    .chef-slogan {
        text-align: center;
        color: $gold;

        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 6rem;

            @include tablet {
                margin-top: 0;
            }
        }
    }

    .restaurant-content-wrapper {
        height: 100%;
        margin-top: 8rem;
        padding-bottom: 6rem;

        @include tablet {
            margin-top: 16rem;
        }
    }
}


/*
--------------------------------------------------------------------------------
GALLERY SECTION
--------------------------------------------------------------------------------
*/

.gallery-section {
    padding-bottom: 10rem;
}


/*
--------------------------------------------------------------------------------
TAKEAWAY SECTION
--------------------------------------------------------------------------------
*/

.takeaway-section {
    .takeaway {
        &-wrapper {
            padding: 10rem 2rem 8rem 2rem;

            @include tablet {
                padding: 15rem 8rem 15rem 8rem;
            }
        }

        &-title {
            margin-bottom: 3rem;
            color: $white;

            @include desktop {
                 margin-bottom: 6rem;
            }
        }
    }

    h5 {
        color: $gray-3;
    }

    .button {
        width: 100%;
        margin-bottom: 6rem;

        @include tablet {
            width: auto;
        }
    }
}

/*
--------------------------------------------------------------------------------
GENERAL RESTAURANT PAGE
--------------------------------------------------------------------------------
*/

.chef-section, .menu-section, .gallery-section, .takeaway-section {
    background-color: $black;

    img {
        &.bg-texture{
            @include position(absolute, 0, 0);
            height: 100%;
            width: 100%;
            object-position: 50% 50%;
            object-fit: cover;
            z-index: 0;
        }
    }
}