.image-carousel {
    height: 60%;
    margin-top: 5rem;

    @include desktop {
        margin-top: 10rem;
    }

    .swiper-wrapper {
        .swiper-slide {
            height: 100%;
            width: auto;
        }
    }
}