
@mixin show () {
    display: block;
}

@mixin hide () {
    display: none;
}

@keyframes opacity {
      0% { opacity: 0; }   
    100% { opacity: 1; }
}


/*
--------------------------------------------------------------------------------
Praxis Logo & Burguer Menu
--------------------------------------------------------------------------------
*/

.menu {
    .navbar {
        @include position(fixed, 0, 0);
        display: flex;
        width: 100%;
        z-index: 20;

        .navbar-brand {
            background-color: $black;
            position: relative;
            width: $navbar-height*2;
            height: $navbar-height;
            padding: 2.5rem 3.4rem;
            z-index: 20;

            img {
                max-width: 100%;
            }
        }

        .burger-menu {
            background-color: $white;
            display: inline-block;
            position: relative;
            height: $navbar-height;
            width: $navbar-height;
            z-index: 20;

            &:hover {
                @include transition(all, .4);

                .bar {
                    @include transition(all, .3);
                    width: 4.5rem;

                    &:before {
                        @include transition(all, .4);
                        width: 4.5rem;
                    }
                }
            }

            .bar {
                @include transition(all, .3);
                margin: auto 2.2rem;
                width: 3rem;

                &, &::before, &::after {
                    content: '';
                    @include position(absolute, 50%, 0);
                    @include transition(transform, .4);
                    background: $black;
                    height: 3px;
                }

                &:before {
                    @include transition(all, .4);
                    width: 4rem;
                    top: -1rem;
                }

                &:after {
                    width: 4.5rem;
                    top: 1rem;
                }

                &:before, &:after {
                    transform: rotate(0deg);
                }
            }

            &.active {
                .bar {
                    background: 0;

                    &:before {
                        width: 4.5rem;
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }

                    &:before,
                    &:after {
                        top: 0;
                    }
                }
            }
        }
    }

/*
--------------------------------------------------------------------------------
Navigation Modal
--------------------------------------------------------------------------------
*/

    .overlay {
        @include position(fixed, 0, 0);
        @include transition(all, .7);
        background-color: $black;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        transform: translateX(-110%);
        z-index: 19;
        overflow: auto;

        @include desktop {
            overflow: hidden;
        }

        &.menu-open {
            transform: translateX(0%);
        }

        .menu-panel {
            padding: 10rem 2rem 2rem;

            @include desktop {
                padding: 12rem 8rem 10rem 18rem;
            }

            ul {
                @include transition(all, .7);
                width: 100%;

                @include desktop {
                    width: 60%;
                }

                &:hover > li {
                    opacity: .3;
                }

                li {
                    @include transition(all, .7);
                    display: flex;
                    flex-direction: column;

                    &.menu-hasdropdown {
                        position: relative;

                        > ul {
                            position: relative;

                            @include desktop {
                                position: absolute;
                                top: 20%;
                                left: 100%;
                            }

                            .submenu-link {
                                @extend h5;
                                color: $white;
                                padding-bottom: .8rem;
                            }
                        }

                        label:hover {
                            cursor: pointer;
                        }
                    }
                    
                    .menu-link {
                        @extend h3;
                        color: $white;
                        display: block;
                        padding: 1rem 0;

                        &.beers-link {
                            @include transition(all, .7);

                            &:before {
                                @include desktop {
                                    @include transition(all, .7);
                                    content: '';
                                    position: absolute;
                                    left: -18rem;
                                    top: 50%;
                                    height: 2px;
                                    background-color: $gray-2;
                                    width: 0;
                                    z-index: -1;
                                }
                            }

                            .selected-link {
                                background-color: $black;
                                padding: 0 2rem;
                                margin-left: -2rem;
                            }
                        }

                        label {
                            position: absolute;
                            right: 0;
                            top: 3.5rem;

                            img {
                                width: 4rem;
                                height: 4rem;
                            }
                        }
                    }

                    &.specials {
                        position: relative;
                        padding-bottom: .8rem;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 30%;
                            width: 22rem;
                            height: 2px;
                            background-color: $gray-2;
                        }

                        label {
                            margin-left: 24rem;
                            color: $white;
                        }
                    }

                    .menu-dropdown, input[type="checkbox"] {
                        @include hide;
                    }

                    ul {
                        @include transition(all, .7);

                        &.menu-dropdown {
                            padding: 2rem 0;
                        }
                    }

                }

                > li {
                    &:hover {
                        opacity: 1 !important;
                    }

                    &.disabled {
                        opacity: .2 !important;
                    }

                    &:hover .beers-link::before {
                        width: 120%;
                    }
                }
            }

            @media screen and (max-width: 992px) {
                input[type="checkbox"]:checked + ul {
                    @include show;
                }
            }

            @media screen and (min-width: 993px) {
                .beers-link label, input[type="checkbox"] {
                    @include hide;
                }
                
                .menu-hasdropdown {
                    position: relative;

                    &:hover {
                        > ul {
                            @include show;
                            animation: opacity .7s ease-out;
                        }
                    }
                }
            }

/*
--------------------------------------------------------------------------------
Social Media
--------------------------------------------------------------------------------
*/

            .media-links-container {
                position: relative;

                @include desktop {
                    position: absolute;
                    right: 8rem;
                    top: 18rem;
                    flex-direction: column;
                }

                .media-link {
                    margin: 6rem 4rem 4rem 0;

                    @include desktop {
                        margin: 0 0 4rem 0;
                    }
                }
            }
        }
    }
}