/*
--------------------------------------------------------------------------------
Praxis Logo & Burguer Menu
--------------------------------------------------------------------------------
*/

.menu {
    .navbar {
        .brand-container {
            @include position(fixed, 0, 0);
            display: flex;
            z-index: 20;

            .navbar-brand {
                background-color: $black;
                width: $navbar-height-sm * 2;
                height: $navbar-height-sm;
                padding: 1.8rem 2rem;

                @include tablet{
                    width: $navbar-height*2;
                    height: $navbar-height;
                    padding: 2.5rem 3.4rem;
                }


                img {
                    max-width: 100%;
                }
            }

            .burger-menu {
                background-color: $white;
                position: relative;
                height: $navbar-height-sm;
                width: $navbar-height-sm;
                z-index: 20;

                @include tablet{
                    width: $navbar-height;
                    height: $navbar-height;
                }

                &:hover {
                    @include transition(all, 0.4);

                    .bar {
                        @include transition(all, 0.3);
                        width: 4.5rem;

                        &:before {
                            @include transition(all, 0.4);
                            width: 4.5rem;
                        }
                    }
                }

                .bar {
                    @include transition(all, 0.3);
                    margin: auto 1.4rem;
                    width: 3rem;

                    @include tablet{
                        margin: auto 2.2rem;
                    }

                    &,
                    &::before,
                    &::after {
                        content: "";
                        @include position(absolute, 50%, 0);
                        @include transition(transform, 0.4);
                        background: $black;
                        height: 3px;
                    }

                    &:before {
                        @include transition(all, 0.4);
                        width: 4rem;
                        top: -1rem;
                    }

                    &:after {
                        width: 4.5rem;
                        top: 1rem;
                    }

                    &:before,
                    &:after {
                        transform: rotate(0deg);
                    }
                }

                &.active {
                    .bar {
                        background: 0;

                        &:before {
                            width: 4.5rem;
                            transform: rotate(45deg);
                        }

                        &:after {
                            transform: rotate(-45deg);
                        }

                        &:before,
                        &:after {
                            top: 0;
                        }
                    }
                }
            }
        }

        .shopping-menu {
            @include position(fixed, 0, null, null, 0);
            background-color: $black;
            width: $navbar-height-sm;
            height: $navbar-height-sm;
            padding: 2rem;
            z-index: 10;

            @include tablet {
                width: $navbar-height;
                height: $navbar-height;
                padding: 3rem;
            }

            &.filled-cart {
                &:after {
                    content: '';
                    @include position(absolute, 1.2rem, null, null, 1.2rem);
                    width: 1.6rem;
                    height: 1.6rem;
                    background-color: $gold;
                    border: 3px solid $black;
                    border-radius: 50%;
                    z-index: 11;

                    @include tablet {
                        top: 2rem;
                        right: 2.2rem;
                    }
                }
            }

            .shopping-cart-icon {
                width: 100%;
            }
        }

        .phonenumber-menu {
            @include position(fixed, 0, null, null, $navbar-height);
            background-color: $white;
            color: $black;
            display: none;
            width: 22rem;
            height: $navbar-height;
            padding: 3rem;
            z-index: 5;

            @include tablet {
                display: block;
            }
        }
    }

    /*
--------------------------------------------------------------------------------
Navigation Modal
--------------------------------------------------------------------------------
*/

    .overlay {
        @include position(fixed, 0, 0);
        @include transition(all, 0.7);
        background-color: $black;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        transform: translateX(-110%);
        z-index: 19;
        overflow: auto;

        @include desktop {
            overflow: hidden;
        }

        &.menu-open {
            transform: translateX(0%);
        }

        .menu-panel {
            padding: 10rem 2rem 2rem;

            @include desktop {
                padding: 12rem 8rem 10rem 12rem;
            }

            @include hd {
                padding: 12rem 8rem 10rem 18rem;
            }

            ul {
                @include transition(all, 0.7);
                width: 100%;

                @include desktop {
                    width: 60%;
                }

                &:hover > li {
                    opacity: 0.3;
                }

                li {
                    @include transition(all, 0.7);
                    display: flex;
                    flex-direction: column;

                    &.menu-hasdropdown {
                        position: relative;

                        > ul {
                            position: relative;

                            @include desktop {
                                position: absolute;
                                top: 20%;
                                left: 100%;
                            }

                            .submenu-link {
                                @extend h5;
                                color: $white;
                                padding-bottom: 0.8rem;
                            }
                        }

                        label:hover {
                            cursor: pointer;
                        }
                    }

                    .menu-link {
                        @extend h3;
                        color: $white;
                        display: block;
                        padding: 1rem 0;

                        &.beers-link {
                            @include transition(all, 0.7);

                            &:before {
                                @include desktop {
                                    @include transition(all, 0.7);
                                    content: "";
                                    position: absolute;
                                    left: -18rem;
                                    top: 50%;
                                    height: 2px;
                                    background-color: $gray-2;
                                    width: 0;
                                    z-index: -1;
                                }
                            }

                            .selected-link {
                                background-color: $black;
                                padding: 0 2rem;
                                margin-left: -2rem;
                            }
                        }

                        label {
                            position: absolute;
                            right: 0;
                            top: 2.5rem;

                            img {
                                width: 3rem;
                                height: 3rem;
                            }
                        }
                    }

                    &.specials {
                        position: relative;
                        padding-bottom: 0.8rem;

                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 30%;
                            width: 22rem;
                            height: 2px;
                            background-color: $gray-2;
                        }

                        label {
                            margin-left: 24rem;
                            color: $white;
                        }
                    }

                    .menu-dropdown,
                    input[type="checkbox"] {
                        @include hide;
                    }

                    ul {
                        @include transition(all, 0.7);

                        &.menu-dropdown {
                            padding: 2rem 0;
                        }
                    }
                }

                > li {
                    &:hover {
                        opacity: 1 !important;
                    }

                    &.disabled {
                        opacity: 0.2 !important;
                    }

                    &:hover .beers-link::before {
                        width: 125%;

                        @include hd {
                            width: 120%;
                        }

                        @include resolution(1500px) {
                            width: 116%;
                        }
                    }
                }
            }

            @media screen and (max-width: 992px) {
                input[type="checkbox"]:checked + ul {
                    @include show;
                }
            }

            @media screen and (min-width: 993px) {
                .beers-link label,
                input[type="checkbox"] {
                    @include hide;
                }

                .menu-hasdropdown {
                    position: relative;

                    &:hover {
                        > ul {
                            @include show;
                            animation: opacity 0.7s ease-out;
                        }
                    }
                }
            }

/*
--------------------------------------------------------------------------------
Language
--------------------------------------------------------------------------------
*/

            .lang-links-container {
                position: absolute;
                right: 2rem;
                top: 3rem;

                @include tablet {
                    top: 4rem;
                }

                @include desktop {
                    right: 6rem;
                }

                .lang-link {
                    color: $gray-2;
                    padding: 1rem 1rem;

                    &.selected {
                        color: $white;
                    }
                }
            }
        }
    }
}

/*
--------------------------------------------------------------------------------
Animations
--------------------------------------------------------------------------------
*/

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
