.payment-card {
    .payment-method {
        &-form {
            margin-bottom: 3rem;
        }

        &-title {
            color: $dark;
            margin-bottom: 1.5rem;
        }
    }

    .payment-generator-info {
        background-color: $gray-5;
        min-height: 14rem;
        width: 100%;
        margin-bottom: 2rem;
        position: relative;
    }
}
