.top-sellers-section {
    position: relative;
    padding: 4rem 0;

    @include phablet {
        padding: 6rem 2rem 4rem 2rem;
    }

    @include desktop {
        padding: 8rem;
    }

    &:after {
        content: "";
        background: url('../images/seeds-vector-texture.svg') center no-repeat;
        background-size: cover;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }

    .light-title {
        color: $gray-5;
    }

    .others-wrapper {
        position: relative;
        margin-top: 2rem;

        @include phablet {
            margin-top: 6rem;
        }

        .big-type {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $h1-font-size;
            opacity: .03;

            @include phablet {
                top: 50%;
                font-size: 40rem;
            }
        }

        .swiper-container {
            margin-top: 0;
        }

    .swiper-slide-recommended {
        height: 45rem;
        min-width: 100%;
        width: 100vw;
        transition-delay: 0.02s;
        padding-top: 4rem;

        @include phablet {
            height: 60rem;
        }

        @include tablet {
            width: 32%;
            min-width: 30rem;
        }

        .beer-article {
            height: 100%;
            z-index: 1;
            margin-left: 0;

            @include tablet {
                margin-left: 6rem;
            }

            .beer-article-link {
                cursor: pointer;
                color: inherit;
                display: block;
                height: 100%;
                position: relative;
                user-select: none;
                z-index: 10;

                .beer-article-media {
                    height: 85%;
                    width: 100%;
                    object-fit: contain;
                    text-align: center;
                    position: relative;

                    &:before {
                        content: '';
                        @include transition(all, .7);
                        @include position(absolute, null, 50%, -3rem);
                        transform: translateX(-50%);
                        width: 2px;
                        height: 6rem;
                        background-color: $gray-4;
                        z-index: -1;
                    }

                    .beer-bg {
                        width: 100%;
                        height: 100%;
                        @include transition(all, .7);
                        @include position(absolute, null, 50%, -3rem);
                        transform: translateX(-50%);
                        background: radial-gradient(50% 50% at 50% 50%, #CA8D33 0%, rgba(244, 189, 106, 0) 100%);
                        opacity: 0;
                        z-index: -1;
                    }

                    img {
                        @include transition(all, .7);
                        height: 100%;
                        transform: scale(1);
                    }
                }

                &:hover .beer-article-content .beer-article-hidden-title {
                    opacity: 1;
                    top: -5rem;
                }

                &:hover .beer-article-content .beer-article-title {
                    opacity: 0;
                }

                &:hover .beer-article-content button {
                    opacity: 1;
                    bottom: 0;
                }

                &:hover .beer-article-media::before {
                    background-color: $gray-3;
                    bottom: -2rem;
                }

                &:hover .beer-article-media .beer-bg {
                    opacity: .5;
                }

                &:hover .beer-article-media img {
                    @include transition(all, .7);
                    transform: scale(1.02);
                }

                .beer-article-content {
                    @include position(absolute, 0, 0);
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    color: $white;
                    height: 100%;
                    width: 100%;

                    .beer-article-hidden-title {
                        @include transition(all, .7);
                        @include position(absolute, -3rem, 50%);
                        transform: translateX(-50%);
                        color: $dark default;
                        opacity: 0;
                        mix-blend-mode: multiply;
                    }

                    .beer-article-title {
                        @include transition(opacity, 1);
                        @include position(absolute, null, 50%, 0);
                        transform: translateX(-50%);
                        color: $dark;
                        opacity: .2;
                        transition-delay: .3s;
                    }

                    button {
                        @include transition(all, .7);
                        @include position(absolute, null, 50%, -2rem);
                        transform: translateX(-50%);
                        opacity: 0;
                    }
                }
            }
        }
    }
}}

/* -------- CUSTOM BEER COLORS ----------- */

@each $beer, $color in $beer-colors {
    .#{$beer}-article {
        .beer-article-content {
            .beer-article-hidden-title {
                color: $color;
            }
        }
    }
}