
@font-face {
  font-family: 'DIN';
  src: url(../resources/D-DINCondensed-Bold.woff) format('woff'),
    url(../assets/resources/D-DINCondensed-Bold.woff2) format('woff2'),
    url(../assets/resources/D-DINCondensed-Bold.otf) format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'PanReg';
  src: url(../assets/resources/Pangram-Regular.otf) format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'PanMed';
  src: url(../assets/resources/Pangram-Medium.otf) format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'PanExt';
  src: url(../assets/resources/Pangram-ExtraBold.otf) format('otf');
  font-display: swap;
}