/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/

$black: #000000;
$dark:  #2A2A2A;
$gray-1:#4F4F4F;
$gray-2:#828282;
$gray-3:#BDBDBD;
$gray-4:#E0E0E0;
$gray-5:#F2F2F2;
$white: #ffffff;

$gold:  #D9AA1C;
