/*
--------------------------------------------------------------------------------
FONTS
--------------------------------------------------------------------------------
*/

$din: 'DIN';
$pangram-regular: 'Pangram-Regular';
$pangram-medium: 'Pangram-Medium';
$pangram-extra: 'PanExt';

$font-family-sans-serif: $pangram-regular, sans-serif;
$font-family-sans-serif-med: $pangram-medium, sans-serif;
$font-family-sans-serif-bold: $pangram-extra, sans-serif;
$font-family-condensed: $din, sans-serif;


$font-size-baseline: 1.6rem; /* 16px */
$font-size-sm: $font-size-baseline * 0.875; /* 14px */

$h1-font-size-sm: $font-size-baseline * 6.75; /* 106px */
$h2-font-size-sm: $font-size-baseline * 4.5; /* 72px */
$h3-font-size-sm: $font-size-baseline * 3.25; /* 50px */
$h4-font-size-sm: $font-size-baseline * 1.625; /* 26px */
$h5-font-size-sm: $font-size-baseline * 1.125; /* 18px */
$h6-font-size-sm: $font-size-baseline * 0.75; /* 12px */
$btn-font-size-sm: $font-size-baseline; /* 16px */


$h1-font-size: $font-size-baseline * 14.375; /* 230px */
$h2-font-size: $font-size-baseline * 9.375; /* 150px */
$h3-font-size: $font-size-baseline * 5.375; /* 86px */
$h4-font-size: $font-size-baseline * 2.25; /* 36px */
$h5-font-size: $font-size-baseline * 1.5; /* 24px */
$h6-font-size: $font-size-baseline * 0.875; /* 14px */
$btn-font-size: $font-size-baseline * 1.125; /* 18px */


//----- NAVBAR -----//

$navbar-height: 9rem;
$navbar-height-sm: 7rem;


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$gray-border: 1px solid $gray-4;
$light-border: 1px solid $gray-2;
