.fullscreen-wrapper {
  padding: 8rem;
  height: 100vh;
  width: 100%;

  img {
    &.bg-image{
      @include position(absolute, 0, 0);
      height: 100%;
      width: 100%;
      object-position: 50% 50%;
      object-fit: cover;
      z-index: -1;
    }
  }
}
